* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Piazzolla', serif;
    background: url(fin.jpg);
    margin: 0;
    padding: 0;
    background-position: center;
}

.contenedor {
    padding: 60px 0;
    widows: 90%;
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.titulous {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
}

.text {
    text-align: center;
    font-size: 40px;
    color: aliceblue;
}

header {
    width: 100%;
    height: 400px;
    background: #1dcece;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(98, 89%, 56%, 0.5), hsla(219, 73%, 47%, 0.603)), url(../pagina\ web/fon.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(98, 89%, 56%, 0.5), hsla(219, 59%, 49%, 0.603)), url(../pagina\ web/fon.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

header .textos {
    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos h1 {
    font-size: 50px;
    color: aliceblue;
}

.textos h2 {
    font-size: 40px;
    font-weight: 300;
    color: aliceblue;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: #666768;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(145, 144, 144, 0.6);
}

.cards .card .contenido-texto-card {
    color: aliceblue;
}

.title {
    color: aliceblue;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
}

.titul {
    color: aliceblue;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}

.tablet {
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    min-width: 500px;
}

th,
td {
    padding: 30px;
    font-size: 20px;
    min-width: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

thead {
    background-color: #4e5856;
    color: #ffffff;
    border-bottom: solid 5px #4e5856;
}

tr:nth-child(even) {
    background-color: #d3d2d2;
}

tr:hover td {
    background-color: #4e5856;
    color: rgb(251, 251, 253);
    transition: all 0.5s;
}

footer {
    background: #414141;
    padding: 20px 0 20px 0;
    margin: auto;
    overflow: hidden;
}

.footercon {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.contenedoron-tabla {
    padding: 0px 0;
    widows: 90%;
    max-width: 1200px;
    margin: auto;
    overflow-x: scroll;
}

.fed {
    padding: 50px 0;
}

.dop {
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
}

.roup {
    padding-bottom: 50px;
    border-bottom: 2px solid #ccc;
    padding: 60px 0;
    widows: 90%;
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
}

.navegacion {
    width: 500px;
    margin: 30px;
    background: #0e0e0e;
}

.navegacion ul {
    list-style: none;
}

.menu>li {
    position: relative;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 5px 20px;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-size: 22px;
}

.menu li a:hover {
    color: rgb(9, 153, 21);
    transition: all 1s;
}

.submenu {
    position: absolute;
    background: #0e0d0d;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.submenu li a {
    display: block;
    padding: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 16px;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

